# Dependências
node_modules/
.npm

# Build / output
dist/
build/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Vercel
.vercel
